@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 207 92% 94%;
    --foreground: 200 13% 18%;
    --card: 0 0% 100%;
    --card-foreground: 200 13% 18%;
    --popover: 0 0% 100%;
    --popover-foreground: 200 13% 18%;
    --primary: 207 90% 61%;
    --primary-foreground: 0 0% 100%;
    --secondary: 207 80% 88%;
    --secondary-foreground: 207 90% 61%;
    --muted: 207 80% 88%;
    --muted-foreground: 200 13% 40%;
    --accent: 123 39% 57%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 207 80% 88%;
    --input: 207 80% 88%;
    --ring: 207 90% 61%;
    --radius: 0.8rem;
    --chart-1: 207 90% 61%;
    --chart-2: 123 39% 57%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 200 13% 12%;
    --foreground: 207 92% 94%;
    --card: 200 13% 18%;
    --card-foreground: 207 92% 94%;
    --popover: 200 13% 12%;
    --popover-foreground: 207 92% 94%;
    --primary: 207 90% 61%;
    --primary-foreground: 0 0% 100%;
    --secondary: 200 13% 25%;
    --secondary-foreground: 207 92% 94%;
    --muted: 200 13% 25%;
    --muted-foreground: 207 92% 80%;
    --accent: 123 39% 57%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 200 13% 25%;
    --input: 200 13% 25%;
    --ring: 207 90% 61%;
    --chart-1: 207 90% 61%;
    --chart-2: 123 39% 57%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
